<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h3>Пользователи:</h3>
        {% for user in users %}
            <tr>
                <td> {{ user.name }} </td> -
                <td> {{ user.auth }} </td>
            </tr>
            <br/>
        {% endfor %}

        <br/> <br/> <br/>

        <form>
            <label for="name">Имя:</label><br/>
            <input type="text" id="name" name="name"/> <br/>
            <label for="auth">Авторизация:</label><br/>
            <textarea id="auth" name="auth"></textarea> <br/>
        </form>

        <button onclick="adduser()">
            Добавить пользователя
        </button>

        <br/> <br/> <br/>

        <form>
            <label for="zapis-id">Id мероприятия:</label><br/>
            <input type="text" id="zapis-id" name="zapis-id"/> <br/>
            <label for="zapis-auth">Авторизация:</label><br/>
            <textarea id="zapis-auth" name="zapis-auth"></textarea> <br/>
        </form>

        <button onclick="enroll()">
            Записать
        </button>

        <button onclick="unEnroll()">
            Отписать
        </button>


        <br/> <br/> <br/>

        <form>
            <label for="dispatch-id">Id мероприятия:</label><br/>
            <input type="text" id="dispatch-id" name="dispatch-id"/> <br/>
            <label for="dispatch-auth">Авторизация:</label><br/>
            <textarea id="dispatch-auth" name="dispatch-auth"></textarea> <br/>
            <label for="dispatch-datetime">Время диспатча:</label><br/>
            <input type="text" id="dispatch-datetime" name="dispatch-datetime"/> <br/>
        </form>

        <button onclick="addDispatch()">
            Добавить на диспатч
        </button>

        <button onclick="removeDispatch()">
            Удалить из диспатча
        </button>

        <br/> <br/>  <br/> <br/> <br/> <br/> <br/> <br/>

        <form>
            <label for="info-auth">Авторизация:</label><br/>
            <textarea id="info-auth" name="info-auth"></textarea> <br/>
        </form>

        <br/>

        <button onclick="getdispatch()">
            Получить диспатч
        </button>
        <pre id="dispatchbox"></pre>

        <br/>

        <button onclick="getinfo()">
            Получить мероприятия
        </button>
        <pre id="infobox"></pre>

        <br/> <br/>  <br/> <br/> <br/> <br/> <br/> <br/>

        <button onclick="switchEnvFn()">
            <span id="switch-env">Режим: продукция</span>
        </button>
    </body>
    <script>
        const switchEnv = document.getElementById("switch-env");
        const nameInput = document.getElementById("name");
        const authInput = document.getElementById("auth");
        const zapisAuthInput = document.getElementById("zapis-auth");
        const zapisIdInput = document.getElementById("zapis-id");
        const infoAuthInput = document.getElementById("info-auth");
        const infoBox = document.getElementById("infobox");
        const dispatchAuthInput = document.getElementById("dispatch-auth");
        const dispatchIdInput = document.getElementById("dispatch-id");
        const dispatchDatetimeInput = document.getElementById("dispatch-datetime");
        const dispatchBox = document.getElementById("dispatchbox");

        let env = "prod";

        function SHOW(text) {
            console.log(text);
            console.log("ok");
        }

        function switchEnvFn(ev) {
            if (env == "prod") {
                env = "dev";
                switchEnv.textContent = "Режим: разработка";
            }
            else if (env == "dev") {
                env = "prod";
                switchEnv.textContent = "Режим: продукция";
            }
        }

        function adduser(ev) {
            let name = nameInput.value;
            let auth = authInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "adduser", {
                method: "POST",
                body: JSON.stringify({
                    name: name,
                    auth: auth
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => { SHOW(resp); });
        }

        function enroll(ev) {
            let auth = zapisAuthInput.value;
            let id = zapisIdInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "enroll", {
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    auth: auth
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => { SHOW(resp); });
        }


        function unEnroll(ev) {
            let auth = zapisAuthInput.value;
            let id = zapisIdInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "unenroll", {
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    auth: auth
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => { SHOW(resp); });
        }

        function addDispatch(ev) {
            let auth = dispatchAuthInput.value;
            let id = dispatchIdInput.value;
            let datetime = dispatchDatetimeInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "adddispatch", {
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    auth: auth,
                    datetime: datetime
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => { SHOW(resp); });
        }

        function removeDispatch(ev) {
            let auth = dispatchAuthInput.value;
            let id = dispatchIdInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "removedispatch", {
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    auth: auth
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => { SHOW(resp); });
        }

        function getinfo(ev) {
            let auth = infoAuthInput.value;

            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "getinfo", {
                method: "POST",
                body: JSON.stringify({
                    auth: auth
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(resp => {
                console.log(resp);
                return resp.json();
            }).then(resp => {
                messages = "";

                resp["events"].forEach(event => {
                    messages += event["name"] + "\n";
                    messages += "  - id: " + event["id"] + "\n";
                    messages += "  - группы: "

                    event["groupList"].forEach(group => {
                        messages += group["name"] + " ";
                    });

                    messages += "\n";

                    messages += "  - дата: " + event["date"] + "\n";
                    messages += "  - начало: " + event["begin"] + "\n";
                    messages += "  - конец: " + event["end"] + "\n";
                    messages += "  - начало записи: " + event["recordBegin"] + "\n";
                    messages += "  - конец записи: " + event["recordEnd"] + "\n";

                    messages += "  - макс. чел.: " + event["maxCapacity"] + "\n";
                    messages += "  - записались чел.: " + event["usersEnrolled"].length + "\n";

                    messages += "  - записались:\n";

                    event["usersEnrolled"].forEach(user => {
                        messages += "    - " + user + "\n";
                    });

                    messages += "\n\n";
                });

                infoBox.textContent = messages;
            });
        }

        function getdispatch(ev) {
            let baseUrl = env == "prod" ? "https://sirius.aleq.dev/" : "http://127.0.0.1:5000/";

            fetch(baseUrl + "dispatches", {
                method: "GET"
            }).then(resp => {
                console.log(resp);
                return resp.json();
            }).then(resp => {
                messages = "";

                resp.forEach(dispatch => {
                    messages += "  - " + dispatch[0] + "\n";
                    dispatch[1].forEach(auth => {
                        messages += "    - " + auth + "\n";
                    });
                });

                dispatchBox.textContent = messages;
            });
        }
    </script>
</html>